{% extends "core/base.html" %}
{% block content %}
<div>
    <h1 class="text-dark  mb-5 border-bottom mt-5 ">SERVICES</h1>
</div>
<div class="row text-dark text-center mb-5">

    <div class="col-sm-4">
        <i class="fa-solid fa-magnifying-glass-dollar fa-2x i-colo"></i>
        <h3>SEO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
            elit. Culpa corrupti sequi tempore.</p>
    </div>
    <div class="col-sm-4">
        <i class="fa-solid fa-laptop-code fa-2x"></i>
        <h3>WebDesign</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
            elit. Culpa corrupti sequi tempore.</p>
    </div>
    <div class="col-sm-4">
    <i class="fa-solid fa-blog fa-2x"></i>
        <h3>Blog</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
            elit. Culpa corrupti sequi tempore.</p>
    </div>
<div class="row text-dark text-center mb-5 mt-5">

    <div class="col-sm-4">
        <i class="fa-solid fa-pen-ruler fa-2x"></i>
        <h3>Logo Design</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Culpa corrupti sequi tempore.</p>
    </div>
    <div class="col-sm-4">
        <i class="fa-solid fa-code fa-2x"></i>
        <h3>Web Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Culpa corrupti sequi tempore.</p>
    </div>
    <div class="col-sm-4">
    <i class="fa-solid fa-mobile-screen-button fa-2x"></i>
        <h3>Android</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Culpa corrupti sequi tempore.</p>
    </div>

<div class="row text-dark text-center mb-5 mt-5">

    <div class="col-sm-4">
    <i class="fa-solid fa-circle-info fa-2x"></i>
        <h3>iOS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Culpa corrupti sequi tempore.</p>
    </div>
    <div class="col-sm-4">
        <i class="fa-solid fa-database fa-2x"></i>
        <h3>Hosting</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Culpa corrupti sequi tempore.</p>
    </div>
    <div class="col-sm-4">
    <i class="fa-solid fa-film fa-2x"></i>
        <h3>Advertising</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Culpa corrupti sequi tempore.</p>
    </div>



</div>

{% endblock content %}